{% extends "base.html" %} {% block header %}
{% endblock %} {% block content %}

<!-- Search Bar -->
<form class="search-bar">
  <input type="search" placeholder="Search" />
  <input type="submit" value="Search" />
</form>

<form class="m-3" id="uploadForm">
  <input id="uploadFiles" type="file" multiple />
  <button onclick="uploadFile(event)">Upload</button>
</form>



<!--Drag and Drop Upload Box-->
<form>
    <input type="file" id="file" name="file" class="inputfile" multiple />
    <label for="file">
      Choose a file
    </label>
    <button type="submit">Upload</button>
</form>










<p>Upload Progress</p>
<progress id="uploadProgress" max="100" value="0"></progress>

<table id="fileTable" class="table table-hover table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Last Modified</th>
      <th scope="col">Size</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for upload in uploads %}
    <tr id="{{ upload['id'] }}">
      <!--
        <td><input type="checkbox" id="{{ upload['id'] }}" value="" /></td>
      -->
      <td>{{ upload['id']}}</td>
      <td>{{ upload['filename']}}</td>
      <td>{{ upload['date']}}</td>
      <td>{{ upload['size']}}</td>
      <td><button name="delete" onclick="deleteFile(event)">Delete</button></td>
      <td><button name="download" onclick="downloadFile(event)">Download</button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script src="{{ url_for('static', filename='file_api.js')}}"></script>
{% endblock %}