{% extends "base.html" %} {% block header %}
<h1>{% block title %}Files{% endblock %}</h1>
{% endblock %} {% block content %}
<!-- Search Bar-->
<form>
  <input type="search" placeholder="Search" />
  <button type="submit">Search</button>
</form>

<div>
  <div>
    <label>Download selected</label>
    <input type="checkbox" value="" />
  </div>

  <div>
    <label>Delete selected</label>
    <input type="checkbox" value="" />
  </div>

  <div>
    <button type="button">Execute</button>
  </div>
</div>
<form action="" method="post" enctype="multipart/form-data">
  <input type="file" name="upload" />
  <input type="submit" value="Upload" />
</form>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Last Modified</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="checkbox" value="" /></td>
      <td>test file 1</td>
      <td>21:35, Jun 15 2022</td>
      <td>30 kb</td>
    </tr>
    <tr>
      <td><input type="checkbox" value="" /></td>
      <td>test file 1</td>
      <td>21:35, Jun 15 2022</td>
      <td>30 kb</td>
    </tr>
    <tr>
      <td><input type="checkbox" value="" /></td>
      <td>test file 1</td>
      <td>21:35, Jun 15 2022</td>
      <td>30 kb</td>
    </tr>
  </tbody>
</table>

{% endblock %}
