<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Drive</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/files/navbar.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/files/searchbar.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/mini-files/mini-layout.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mini-files/mini-dropzone.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mini-files/mini-details.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mini-files/mini-table.css')}}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div class="page-content">
        <div class="drop-zone">
            <span class="drop-zone__prompt">Drop files here or click to upload</span>
            <input class="drop-zone__input" type="file" name="file" multiple />
        </div>

            
        <table class="table" id="upload-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Progress</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!--
                    <tr>
                        <td>Some Fileanme</td>
                        <td><progress max="100" value="30"></progress></td>
                        <td><button>Cancel</button></td>
                    </tr>


                -->
            </tbody>
        </table>


        <table class="table" id="file-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>some filename</td>
                    <td>XXXX-XX-XX XX-XX-XX</td>
                    <td>XXXXXXXXXXX</td>
                </tr>
                <tr>
                    <td>some filename</td>
                    <td>XXXX-XX-XX XX-XX-XX</td>
                    <td>XXXXXXXXXXX</td>
                </tr>
                <tr>
                    <td>some filename</td>
                    <td>XXXX-XX-XX XX-XX-XX</td>
                    <td>XXXXXXXXXXX</td>
                </tr>
            </tbody>
        </table>


    </div>

    <script src="{{ url_for('static', filename='js/mini-files/mini-dropzone.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mini-files/mini-table.js')     }}"></script>

</body>

</html>