.details {
    width: 80%;
    height: 10rem;
    padding: 1rem;
}

.detail {
    width: 100%;
}

.detail__name {
    display: block;
}

.detail__progress {
    display: inline-block;
    width: 90%;
    vertical-align: middle;
}

.detail__cancel {
    display: inline-block;
}