/* Page Settings */
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* Navbar */
.navbar {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    background-color: #333;
}

.navbar li a {
    display: block;
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}

/* Container */
.container {
    width: 70vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h2 {
    align-self: flex-start;
}


/* Search Bar */
.search-bar {
    display: flex;
    width: 100%;
    margin: 10px;
    border-radius: 5px;
    outline: auto;
    position: sticky;
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
}

.search-bar button:first-of-type {
    background-color: white;
    border: none;
    cursor: pointer;
    width: 40px;
    font-size: large;
}

.search-bar button:last-of-type {
    padding: 10px 20px;
    border-radius: 0px;
    background-color: #0D6EFD;
    color: white;
    border: none;
    cursor: pointer;
}

/* Directory */
.directory {
    width: 100%;
    height: 70vh;
    margin-left: 150px;
    margin-right: 150px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.directory>div {
    display: flex;
    align-items: center;
    border: 0;
    border-bottom: 0.7px solid #ddd;
    padding: 10px;
}

.directory>div:first-child {
    color: white;
    background-color: #00a97f;
    border-bottom: 2px solid #000;
    font-weight: bolder;
}

.directory div div:nth-child(1) {
    /* icon */
    width: 30px;
    height: 30px;
}

.directory div div:nth-child(1) svg {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

.directory div div:nth-child(2) {
    /* filename */
    width: 70%;
    padding-left: 10px;
}

.directory div div:nth-child(3) {
    /* date */
    width: 20%;
    padding-left: 10px;
    font-size: medium;
}

.directory div div:nth-child(4) {
    width: 5%;
    padding-left: 10px;
    font-size: larger;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;

    list-style: none;
    margin: 10px;
    padding: 0;
}

.pagination li button {
    display: block;
    padding: 5px 10px;
    margin: 4px;

    border: 1px solid #999;
    border-radius: 4px;
    cursor: pointer;
}

/* Upload Button */
.upload-button {
    display: block;
    position: fixed;
    bottom: 25px;
    right: 25px;

    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    border: none;
    outline: none;
    box-shadow: 0 0 5px black;
}

.upload-button svg {
    width: 80%;
    height: 80%;
    cursor: pointer;
}

/* Upload Pop Up */
/*
    <div class="upload-pop-up">
        <div><input type="file" name="file" multiple /></div>
        <div></div>
    </div>
*/
.upload-pop-up {
    width: 70%;
    height: 70%;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    background-color: #faf8ff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #3f4754;
}


/* Detail Pop Up */
.details-pop-up {
    width: 320px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid grey;
    border-radius: 5px;
    padding: 30px;

    background-color: white;
    display: flex;
    justify-content: center;
}

.details-pop-up div {
    display: flex;
    flex-direction: column;
}

.details-pop-up div span {
    margin-top: 10px;
}

.details-pop-up div button {
    padding: 5px 20px;
    color: white;
    cursor: pointer;

    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #0D6EFD;

    margin-top: 30px;
    margin-bottom: 30px;
}