.navbar {
    display: flex;
    position: sticky;
    top: 0px;
    background-color: #ccc;
background-image: linear-gradient(to right, #051937, #004f7b, #008a96, #00c476, #b2f222);
}

.brand-name{
    left: 0;
    vertical-align: center;
    font-size: 36px;
    padding: 10px;
    background-image: linear-gradient(
        to right top, 
        #d16ba5, #c777b9, #ba83ca, 
        #aa8fd8, #9a9ae1, #8aa7ec, 
        #79b3f4, #69bff8, #52cffe, 
        #41dfff, #46eefa, #5ffbf1
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.navbar .search-bar{
    position: absolute;
    right: 0;
    vertical-align: center;
}

