{% extends 'base.html' %}
{% block header %}
{% endblock %}

{% block content %}
    <!--

        <form action="/auth/register" method="post">
            <label for="">Username</label>
            <input type="text" id="username" name="username" required />
            <label for="">Password</label>
            <input type="password" id="password" name="password" required>
            <input type="submit" value="Register" />
        </form>


    -->

    <form action="/auth/register" method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        </div>
        <input class="btn btn-primary my-3" type="submit" value="Register" />
      </form>




{% endblock %}