.nav-bar {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    background-color: #333;
}

.nav-bar li a{
    display: block;
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.nav-bar li a:hover{
    background-color: #111;
}





