.nav-bar {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    background-color: #333;
}

.nav-bar li a{
    display: block;
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.nav-bar li a:hover{
    background-color: #111;
}



/* Upload Details */
.upload-details{
    width: 100%;
}

.detail {
   padding: 10px; 
   margin: 5px;
   text-align: left;
   padding: 1rem 5rem;
}

.detail__name{
    display: block;
}

.detail__progress{
    display: inline-block;
    width: 80%;
}

.detail__cancel{
    display: inline-block;
    color: #d3394c;
    padding: 2px 10px;
    border: 2px solid #d3394c;
    cursor: pointer;
    font-size: medium;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}


/* Page Content */
.page-content{
    display: flex;
}