<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css')}}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  {% block stylesheet %}
  {% endblock %}

</head>

<body>
  
  <main>
    <ul class="nav-bar">
      <li>
        <a href="/">Fileverse</a>
      </li>
      <li>
        <a href="/files">Cloud</a>
      </li>
      <li>
        <a href="/mannual">Mannual</a>
      </li>
      <li>
        <a href="/auth/register">Register</a>
      </li>
      <li>
        <a href="/auth/login">Login</a>
      </li>
      <li>
        <a href="/auth/logout">Logout</a>
      </li>
    </ul>
    
    {% for message in get_flashed_messages() %}
    <div>{{ message }}</div>
    {% endfor %} 

    {% block content %} {% endblock %}
  </main>
  
  {% block script %} 
  {% endblock %}

</body>

</html>