<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  {% block title %}
  {% endblock%}

  {% block stylesheet %}
  {% endblock %}

</head>

<body>

  <ul class="nav-bar">
    <li>
      <a href="/mini-files">Fileverse</a>
    </li>
    <li>
      <a href="/mini-files">Dashboard</a>
    </li>
    <li>
      <a href="/auth/logout">Logout</a>
    </li>
  </ul>

  {% block content %}
  {% endblock %}

  {% block script %}
  {% endblock %}

</body>

</html>