.context-menu{
    position: fixed;
    z-index: 10000;
    width: 150px;
    background-color: #1b1a1a;
    border-radius: 5px;
    transform: scale(0);
    transform-origin: top left;
}

.context-menu.visible{
    transform: scale(1);
    transition: transform 200ms ease-in-out;
    display: block;
}

.context-menu__item {
    display: block;
    color:white;
    background-color: #1b1a1a;
    border: none;
    width: 100%;
    text-align: left;

    font-size: 17px;
    padding: 7px;
    
    border-radius: 5px;
}

.context-menu__item:hover {
    background-color: #343434;
    cursor: pointer;
}