.drop-zone {
    width: 80%;
    height: 10rem;
    padding: 1rem;
    border: 4px dashed #009578;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    
    background-color: #ccc;
}

.drop-zone__input {
    display: none;
}

.drop-zone--over{
    border-style: solid;
}