.table {
    width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    font-size: 0.9em;
}

.table thead {
    position: sticky;
    top: 0;
    background-color: #00a97f;
}

.table thead:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 3px solid #222222;
}

.table thead tr {
    color: #f2ecff;
    text-align: left;
    height: 10px;
}


.table th,
.table td {
    padding: 12px 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100px;
}

.table tbody tr {
    height: 10px;
    border-bottom: thin solid #ddd;
    cursor: pointer;
}

.table thead tr th:last-child {
    text-align: right;
    cursor: pointer;
    font-size: 18px;
}

.table thead tr th:first-of-type,
.table tbody tr td:first-of-type {
    display: none;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.table tbody tr.active-row {
    color: #009879;
    background-color: #e4e4e4;
}

table tbody tr td button,
.file-table-action {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

table tbody tr td:last-child {
    text-align: center;
}

.file-table-container {
    width: 70%;
    height: 50%;
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-menu {
    width: 30px;
    height: 30px;
    background-image: radial-gradient(circle, black 10px, transparent 11px);
    background-size: 100% 33.33%;

}

.page-content h2 {
    width: 70%;
    text-align: left;
}

.search-bar {
    display: flex;
    width: 70%;
    margin: 10px;
    border-radius: 5px;
    outline: auto;
    position: sticky;
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
}

.search-bar button:first-of-type{
    background-color: white;
    border: none;
    cursor: pointer;
    width: 40px;
    font-size: large;
}

.search-bar button:last-of-type {
    padding: 10px 20px;
    border-radius: 0px;
    background-color: #0D6EFD;
    color: white;
    border: none;
    cursor: pointer;
}