.table{
    width: 80%;
    margin: 25px 0;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-collapse: collapse;

    font-size: 0.9em;
}

.table thead tr {
    color: #222222;
    text-align: left;
    border-bottom: 2px solid #222222;
}


.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: thin solid #ddd;
    cursor: pointer;
}

.table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
border-bottom: 2px solid #009879;
}

.table tbody tr.active-row{
    color: #009879;
}