.file-table{
    width: 80%;
    margin: 25px 0;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-collapse: collapse;

    font-size: 0.9em;
}

.file-table thead tr {
    background-color: #009879;
    color: #fff;
    text-align: left;
}


.file-table th,
.file-table td {
    padding: 12px 15px;
}

.file-table tbody tr {
    border-bottom: thin solid #ddd;
    cursor: pointer;
}

.file-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.file-table tbody tr:last-of-type {
border-bottom: 2px solid #009879;
}

.file-table tbody tr.active-row{
    color: #009879;
}